.FindFreelancer{
    background-color: #fbfbfb;
    min-height: calc(100vh - 351px);
    height: calc(100vh - 64px);

    &__sidebar{
        background-color: #f3f3f3;
        max-height: calc(100vh - 56px);
    }

    &__list{
        max-height: calc(100vh - 56px);
    }

    ::-webkit-scrollbar{
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d8d8d8;
        border-radius: 7px;
    }

}