.message-item__text {
  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    border-color: inherit;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }

  &--receive::before {
    left: 0;
    transform: translate(-100%, -50%);
    border-right: 6px solid #d1d5db;
  }

  &--send {
    color: #ffffff;

    &::before {
      transform: translate(100%, -50%);
      right: 0;
      border-left: 6px solid #2563eb;
    }
  }
}
