$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra: 1200px,
);

$blue-template: #2e3fe5;
$color_dialog_background: rgba(44, 44, 44, 0.74);
$color_shadow: #00000030;
$color_white: #ffffff;

$iconLocations: url("../../assets/images/location.svg");
$iconBag: url("../../assets/images/bag.svg");
$iconTime: url("../../assets/images/time.svg");
$iconWallet: url("../../assets/images/wallet.svg");
