.companies {
  .companies__list li {
    transition: all 0.6s;
  }
  .companies__list li:hover {
    background-color: #f3f3f3;
    transition: all 0.6s;
  }
  .company__logo {
    img {
      max-height: 60px;
      max-width: 120px;
    }
  }

  .ratting-point {
    min-width: 36px;
  }
}
