.find-job-page {
  min-height: calc(100vh - 351px);
  .content__header {
    .ant-select .ant-select-selector {
      border: none !important;
      background-color: #d1d5db !important;
    }
    .ant-select-focused.ant-select .ant-select-selector {
      box-shadow: 0 !important;
    }
    .ant-select-single.ant-select-open .ant-select-selection-item {
      color: #000000;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
      .ant-select-selector {
      box-shadow: none;
    }
  }
  &__sidebar,
  &__content {
    max-height: calc(100vh - 56px);
  }

  .ant-pagination-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d8d8d8;
    border-radius: 7px;
  }
}
