.uploadBtn {
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #353535;
  background: #fff;
  border: 1px solid #353535;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 10px 6px;
}
