.header {
  &__wrapper {
    width: 100% !important;
    color: #717375;
  }

  &__link {
    color: #484848;
  }

  &__search {
    border: none !important;
    background-color: #f8f6f6 !important;
    border-radius: 5px !important;
    margin: 0.75rem !important;
    height: 3.5rem;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    z-index: 10;
  }

  &__button {
    height: 3.5rem !important;
    width: 10rem;
    font-size: 30px;
    font-weight: 600 !important;
    border-radius: 5px !important;
    
  }

  &__select {
    margin: 10px !important;
    font-size: 1.25rem !important;
    font-weight: 600;
    cursor: pointer !important;
  }
  &__icon {
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(342deg)
      brightness(104%) contrast(106%);
    font-weight: 600;
  }
}

select {
  outline: 0;
  border: 0 !important;
  background: #f8f6f6;
  width: 20rem;
  height: 3.5rem;
  padding-left: 1.1rem;
  color: #0c70c4 !important;
  z-index: 10;
  border-radius: 5px;
}
option {
  background-color: white;
  color: #484848 !important;
  cursor: pointer;
}
.header__button.ant-btn{
  font-size: 18px;
}