.dashboard {
  &__block {
    width: calc(31%);
    min-width: 230px;
    height: 120px;
    padding: 25px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  &__icon1 {
    background-color: rgba(54, 189, 120, 0.07);
    padding: 25px;
    svg {
      width: 40px;
      height: 40px;
      color: rgb(54, 189, 120);
    }
  }
  &__icon2 {
    background-color: rgba(184, 27, 127, 0.07);
    padding: 25px;
    svg {
      width: 40px;
      height: 40px;
      color: rgb(184, 27, 127);
    }
  }
  &__icon3 {
    background-color: rgba(239, 168, 15, 0.07);
    padding: 25px;
    svg {
      width: 40px;
      height: 40px;
      color: rgb(239, 168, 15);
    }
  }
  &__chart {
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
