.dashboard {
  &__block {
    width: calc(31%);
    min-width: 230px;
    height: 120px;
    padding: 25px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: .3s;
    &:hover{
      transform: translateY(-10px);
      transition: .3s ;
      transition-timing-function: linear;
      cursor: pointer;
    }
  }
  &__icon1 {
    background-color: rgba(54, 189, 120, 0.07);
    padding: 25px;
    svg {
      width: 40px;
      height: 40px;
      color: rgb(54, 189, 120);
    }
  }
  &__icon2 {
    background-color: rgba(184, 27, 127, 0.07);
    padding: 25px;
    svg {
      width: 40px;
      height: 40px;
      color: rgb(184, 27, 127);
    }
  }
  &__icon3 {
    background-color: rgba(239, 168, 15, 0.07);
    padding: 25px;
    svg {
      width: 40px;
      height: 40px;
      color: rgb(239, 168, 15);
    }
  }
  &__chart {
    display: flex;
    margin-top: 30px;
    &__left{
      width: calc(64%);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &__right{
      margin-left: 23px;
      width: calc(31% );
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }
  &__earning{
    margin-top: 30px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    padding: 25px;
  }
}
