.sidebar {
    box-sizing: border-box;
    background-color: '#fff',
    h5{
        font-size: 20px;
        margin-bottom: 18px;
        font-weight: 400;
    }

    &__location{
        
        input{
            line-height: 48px;
            width: 100%;
            padding: 0 45px 0 20px;
            outline: none;
            font-size: 16px;
        }
    }

    &__category{
        .button-category{
            background-color: #fff;
            line-height: 48px;
            width: 100%;
            padding: 0 20px;
            font-size: 16px;
        }
    }

    &__job{

        .switch{
            margin-bottom: 10px;
        }

        span{
            margin-left: 10px;
            font-size: 16px;
            color: #666666;
            position: relative;
            top: 3px;
        }
    }

    &__search{
        position: sticky;
        bottom: 0px;
        height: 90px;
        z-index: 10;
        background-color: #f3f3f3;
    }
    &__tags{
        .custom-tag.ant-tag.ant-tag-checkable{
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #DCDCDC	
        }
        .custom-tag.ant-tag.ant-tag-checkable-checked{
            background-color: #2e3fe5;
            border-radius: 4px;
        }
    }
}