.emoji-table {
  left: 0;
  bottom: 50px;
  transform: translateX(-35%);

  .ant-tabs-tab {
    margin-left: 10px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    display: block;
    border-top: 6px solid #ffffff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: translate(-50%, 100%);
  }
}
